
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" >
                <span class="sr-only">导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{% url 'home' %}">
                首页
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    {% if login_state %}
{#                        <li><a href="#">{{ user }} , 欢迎你！</a></li>#}
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                                 <img class="img-circle " style="width:30px;height:30px;" src="{{ img.url }}" alt="">
                                  &nbsp;&nbsp;{{ user }} , 欢迎你！
                                 <span class="caret"></span>
                             </a>
                            <ul class="dropdown-menu">

                                <li><a href="{% url 'user_info' %}">个人信息</a></li>

                                <li><a href="{% url 'album' %}">我的相册</a></li>
                                <li><a href="{% url 'blog' %}">我的博客</a></li>
{#                                <li><a href="#">我的收藏</a></li>#}

                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}">退出</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">游客你好!</a></li>
                        <li><a href="{% url 'register' %}">注册</a></li>
                        <li><a href="{% url 'login' %}">登录</a></li>
                    {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>