{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-2">

    </div>

    <div style="width:700px;margin-left: 30px;" class="col-md-7 ">
        <h3>
            博客展示
        </h3>
        <div>
            <div id="time" onclick="click_time(this)" class="btn btn-info">按更新时间排序</div>
            <div id="times" onclick="click_times(this)" class="btn btn-info">按访问次数排序</div>
        </div>
        <hr>
        <br>
        <div id="by_time" style="display: none;">
            {% for blog in blogs1 %}
            <div class="blog_format">
                <p >
                    {{ blog.author.username }}创建于{{ blog.created_at }} <br>
                    访问次数：{{ blog.view_times }}次
                </p>
                <a href="/blog/blog_page/{{ blog.id }}/">
                    <div class="btn btn-primary" style="width:300px;text-align:left;">
                        标题：{{ blog.title }}
                        <br>
                        摘要：{{ blog.summary }}
                    </div>
                </a>
                <br><br>
            </div>
            <hr>

        {% endfor %}
        </div>

        <div id="by_times" style="display: none;">
            {% for blog in blogs2 %}
            <div class="blog_format">
                <p >
                    {{ blog.author.username }}创建于{{ blog.created_at }} <br>
                    访问次数：{{ blog.view_times }}次
                </p>
                <a href="/blog/blog_page/{{ blog.id }}/">
                    <div class="btn btn-primary" style="width:300px;text-align:left;">
                        标题：{{ blog.title }}
                        <br>
                        摘要：{{ blog.summary }}
                    </div>
                </a>
                <br><br>
            </div>
            <hr>
        {% endfor %}
        </div>
    </div>

    <div  class="col-md-3"></div>

{% endblock %}

{% block my_script %}
    <script>
        window.onload = click_time($('#time'));
        function click_time(obj) {
            $('#by_time').removeAttr('style');
            $('#by_times').attr('style','display:none;')
        }
        function click_times(obj) {
            $('#by_times').removeAttr('style');
            $('#by_time').attr('style','display:none;')
        }
    </script>
{% endblock %}